  @import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap");

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @keyframes moveTopToBottom {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100%); }
  }
  
  @media screen and (max-width: 640px) {
    .main {
      padding: 0;
    }
  }

  .sidebar {
    @apply flex flex-col items-start sm:pl-40 md:pl-40 lg:pl-40 xl:pl-40 2xl:pl-40 pt-20 md:w-6/12 lg:w-6/12 xl:w-3/12 2xl:w-3/12 sm:w-1/2 min-[320px]:w-full min-[320px]:pl-8 gap-2;
  }

  .info_link {
    @apply text-[#909090] no-underline font-MPlus1 text-sm flex cursor-pointer leading-6 font-thin tracking-wider whitespace-nowrap;
  }

  .project_link {
    @apply text-[#484848] no-underline cursor-pointer font-MPlus1 leading-6 font-thin tracking-wider;
  }

  .project_links {
    @apply font-MPlus1 flex flex-col text-right gap-y-0.5;
  }

  .title {
    @apply text-[#484848] font-MPlus1 text-xl font-thin tracking-wider whitespace-nowrap;
  }

  .active{
    @apply text-[#909090]
  }



